/* Outside the App */
body {
    margin: 0px;
    font-family: Helvetica, sans-serif;

    background: url(/app/images/clearsky.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* Inside the App */
.App {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.header {
    margin-top: 32px;
}

.header h1 {
    margin: 0 auto;
    width: 600px;
    text-align: center;
    color: rgba(100, 45, 239, 0.9);
    font-family: Arial;
}

.footer {
    text-align: center;
}

.WeatherApp {
    padding: 10px;
}

/* Form Section */
.WeatherForm .instructions {
    text-align: center;
    font-size: 24px;
    color: rgba(230, 244, 229, 0.8);
    background-color: rgba(10, 10, 10, 0.05);
}

.WeatherForm div {
    display: inline-block;
    width: 40%;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
}

.WeatherForm select {
    width: 60%;
    background-color: rgba(102, 205, 170, 0.5);
    border-radius: 20px;
    font-size: 20px;
}

.WeatherForm button {
    width: 60%;
    background-color: rgba(102, 205, 170, 0.5);
    border-radius: 20px;
    font-size: 20px;
}

/* Output Data Formatting */
.WeatherData {
    font-family: Verdana;
}

.WeatherData p {
    margin: 0;
}

.WeatherData .CurrentWeather .subheader {
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 22px;
    color: rgba(250, 240, 229, 0.8);
    background-color: rgba(10, 10, 10, 0.05);
}

.WeatherData .CurrentWeather .dateDescriptor {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 16px;
    color: rgba(10, 140, 200, 0.8);
    background-color: rgba(10, 10, 10, 0.05);
}

.WeatherData .blockSection {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 20%;
    height: 150px;
    margin: 2%;

    font-size: 14px;
    background-color: rgba(66, 240, 215, 0.6);
    border-radius: 15px;
    opacity: 0.8;
}

.WeatherData .blockSection:hover {
    opacity: 1.0;
}

.WeatherData .blockSection p {
    height: 35px;
    padding-top: 15px;
    vertical-align: middle;
}

.WeatherData .forecastBlock {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 20%;
    height: 200px;
    margin: 2%;

    font-size: 16px;
    background-color: rgba(195, 250, 185, 0.6);
    border-radius: 15px;
    opacity: 0.8;
}

.WeatherData .forecastBlock:hover {
    opacity: 1.0;
}

.WeatherData .forecastBlock p.stretch {
    height: 40px;
    padding-top: 10px;
    vertical-align: middle;
}